.my-container-rentable{

    background-color: #032d60;
    color: rgb(125, 253, 108);
    font-size: x-large;
    
}

.my-h1-aling{
    text-align: center;
	animation: latidos .6s infinite;
	transform-origin: center;
	text-shadow: 0 0 10px #fff
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.3); }
    to { transform: none; }
}