.my-lightning-layout{
    border: var(--lwc-borderWidthThin, 1px) solid #000;
}

.my-title{
    background-color: #0b76d3;
    color: #fff;
    display:inline;
    font-size: large;
    width: 100%;
    text-align: center;
}

.my-lightning-layout-item{
    background-color: #fff;
}

.my-lightning-layout-item{
    /* border: 1px solid red; */
}

.my-title-task{
    width: 50%;
    padding: 2px;
    background-color: #0b76d3;
    color: #fff;
    display:inline;
    font-size: large;
    display:inline;
}

.my-items{
    background-color: #032d60;
    border: var(--lwc-borderWidthThin, 1px) solid rgb(126, 126, 126);
    color:bisque;
}
