.my-lightning-layout{
    border: var(--lwc-borderWidthThin, 1px) solid #000;
}

.my-title{
    background-color: #0b76d3;
    color: #000;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff; */
    display:inline;
    font-size: large;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.my-lightning-layout-item{
    background-color: #fff;
}

.my-lightning-layout-item:hover{
    /* border: 1px solid red; */
    transition: 2s;
    transform: scaleZ(1, 1.2);
}

.my-title-task{
    background-color: #0b76d3;
    color:#000;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff; */
    display:inline-block;
    font-size: large;
    width: 100%;
    padding-left: 2px;
    
}

.my-items{
    background-color: #032d60;
    border: var(--lwc-borderWidthThin, 1px) solid rgb(161, 160, 160);
    color:#fff;
    padding: 2px;
}
