.my-style-person {
    background-color: #0b76d3 !important;
    color: #fffad3;
    padding: 5px 10px 5px 10px;
    border-radius: 15px 15px 0px 0px;
}

.my-lli{
    border: #000;
    background-color: #032d60;
    border-radius: 15px;
    color: #fff;
}

.my-text-color-input{
    color: #000;
}

.my-text-white{
    color: #fff;
}

.my-title{
    border: #000;
    border-radius: 3px ;
    background-color: #0b76d3;
    color: #fff;
    display: inline-block;
    font-size: medium;
}

.my-border {
    border-width: 1px !important;
    box-shadow: 5px 5px 10px 5px #032d60;
    border-radius: 15px;
    background-color: #cecece;
}

.my-boton {
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 15px;
    background-color: #0b76d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
}

.my-boton * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.my-icon {
    opacity: 0;
}

.my-boton:hover {
    background-color: #0b76d38f;
}

.my-boton:focus {
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
    color: #032d60;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="m10 15.172l9.192-9.193l1.415 1.414L10 18l-6.364-6.364l1.414-1.414z"%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.my-boton:focus .my-text-boton {
    opacity: 0;
}

.my-boton:focus .my-icon {
    opacity: 1;
    transition-delay: .5s;
}

.my-resources{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-resources-AllResources{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.my-check-ok{
    width: 30px;
    height: 30px;
    padding: 9px 16px 9px 16px;
    background-color: #44c08a;
    border-radius: 50%;
    color: #032d60;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="m10 15.172l9.192-9.193l1.415 1.414L10 18l-6.364-6.364l1.414-1.414z"%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
  
    
}
.col-7-cabecera{
    width: 58.33333333%;
    /* border: 2px solid #0b76d3; */
    float: left;
    text-align: center;
}