.my-container-noRentable{

    background-color: #032d60;
    color: #ff4a4a;
    font-size: x-large;
    box-shadow: 0 0 10px 10px #032d60, inset 0 0 10px 1px #ff4a4a;
    border-radius: 25px;
    
}

.my-h1-aling{
    text-align: center;
	animation: latidos .6s infinite;
	transform-origin: center;
	text-shadow: 0 0 10px #fff
}

/* @keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
} */

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1, 1.5); }
    to { transform: none; }
}