.my-style-person{
    background-color: #0b76d3 !important;
    color: #fffad3;
    padding: 5px 10px 5px 10px;
    border-radius: 15px 15px 0px 0px;
}

.my-border{
    
    border-width: 1px !important;
    box-shadow: 5px 5px 10px 5px #032d60;
    border-radius: 15px;
    background-color: #cecece;
}